/* Template Stationary */

@import url(http://fonts.googleapis.com/css?family=Montserrat+Alternates);

a, .btn {
	outline: none !important;
}

body {
	font-family: 'Open Sans',sans-serif;
	height: 100%;
	position: relative;
}
p {
	line-height: 1.6 !important;
}
a.brand {
	color: rgba(0,0,0,.3);
}
a.brand.logo {
	height: 150px;
	width: 150px;
	margin-bottom: 45px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 500px;
	transition: background .4s ease-in-out;
}
.navigator a.brand {
	text-align: center;
	margin-bottom: 40px;
}
ul.nav {
	border-right: 1px solid rgba(0,0,0,.15);
	display: block;

}
.nav > li > a {
	color: rgba(0,0,0,.5);
}
.nav > li > a:hover, .nav > li > a:focus, .nav > li.active > a:focus {
	background: none;
}
#leftcol .nav li.active > a, #leftcol .nav li.active > a:hover {
	background: none;
	font-weight: 800;
	color: #000 ;
	cursor: default !important;
}
.nav li:first-child {
	display: none !important;
}
#ltop {
	height: 0 !important;
}
header {
	min-height: 150px;
	margin-bottom: 45px;
	display: block;
}
header h1 {
	padding: 0;
	margin: 0;

}
header h1 a {
	display: block;
	font-weight: 100;
	font-family: 'Montserrat Alternates', sans-serif;
	line-height: 150px;
	font-size: 60px;
}

header a:hover {
	text-decoration: none;
}
h2 {
	font-size: 40px;
	font-weight: 700;
	font-family: 'Montserrat Alternates', sans-serif;
}
i.anchor {
	position: absolute;
}
#mobile-logo {
	display: none;
}
#mobile-menu {
	display: none;
	height: 0;
}
#leftcol {
	text-align: center;
	position: relative;
}
#leftcol ul.nav li {
	text-align: center;
	float: none;
}
.leftcol-inner {
	position: fixed;
	width: 240px;
}
.leftcol-inner, .rightcol-inner {
	margin-top: 45px;
}
.sheet {
	position: relative;
	box-shadow:  0 5px 0 rgba(0,0,0,.2);
	background: #fff;
}
.sheet > .container {
	background: #fff; 
}
.item-wrap > .item {
	position: relative;
}

.title-icon {
    display: block;
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 3px;
	position: absolute;
    top: 75px;
    right: 12px;
}
footer {
	background: url("../images/patterns/pattern_14.png") fixed no-repeat top left ;
}
#append-target .page-header {
	border: none;
}
#append-target h2 {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.15);
    border-radius: 3px;
    font-size: 40px;
    font-weight: 700;
    padding: 15px 0 15px 15px;
}
#append-target .title-icon {
    top: 90px;
}
.title-icon > i {
    font-size: 30px;
    text-align: center;
}
.waypoint .title-icon > i {
}
.waypoint-in .title-icon > i {
}
hr.featurette-divider {
	display: none;
}
/* icon columns */
.fa.text-danger {
	color: #A0CA9B;
}
.fa.text-warning {
	color: #C198C7;
}
.fa.text-info {
	color: #ddd;
}
.icon-cols > div {
	margin-bottom: 45px;
}
.icon-cols .col1 {
	text-align: center;
}
.fa-stack i.fa-stack-1x {
	color: #fff;
}
#panel-1 {
	Xbackground: url('../images/shade-top.png') no-repeat center bottom, url('../images/shade-bot.png') no-repeat center top;
}
a.next-panel {
	display: block;
	width: 100%;
	font-size: 40px;
	margin: 50px auto;
	color: rgba(0,0,0,.3);
	text-align: center;
	position: relative;
	top: -16px;
}
.op_panel .item-wrap {
}
/* Static Contact Pane */

#append-target:last-child h2 {
	color: rgba(0,0,0,0.5);
}
#append-target .title-icon i {
	color: rgba(255,255,255,.5) !important;
}
#append-target a.next-panel i:before {
	content: '\f139';
}
#append-target .title-icon {

}
.page-header {
	border: none;
}

/* Photoalbum */

div#albumCarousel {
	margin-bottom:50px;
}
div.rokoho_album a.thumbnail {
	padding:0;
	border:0;
	margin-bottom: 0;
}
.rokoho_album div.album_description p {
	margin-bottom:90px;
}
#albumCarousel ol.carousel-indicators {
	top:-40px !important;
	z-index: 0;
}
#albumCarousel ol.carousel-indicators li {
	opacity: .3;
	border-color: #777;
}
#albumCarousel ol.carousel-indicators:hover li {
	opacity: .8;
}
#albumCarousel ol.carousel-indicators .active {
	background:none;
}
#albumCarousel div {
    padding-left: 0;
    padding-right: 0;
}
#albumCarousel .img-responsive {
	margin: auto;
}
/* PrettyPhoto */

.pp_pic_holder.facebook {
	background: rgba(255,255,255,1);
	box-shadow:0 0 30px rgba(0,0,0,.1);
}
div.pp_overlay {
	background: rgba(200,200,200,.95)  !important;
	color: #eee !important;
}
.pp_description {
	color: #000 !important;
}
div.facebook  img#fullResImage {
	border-radius: 4px;
}
div.facebook .pp_content {
}
div.pp_content div.pp_fade a.pp_expand {
	opacity: .5;
}
div.ppt {
}
div.pp_content div.pp_fade a.pp_play {
}
.facebook .pp_nav {
	display: none !important;
}
/* Contact pane */

div.social i {
	color: rgba(0,0,0,.35);
}
div.social {
	margin-bottom:40px;
	margin-top: 15px;
}
#googleMap {
	height:457px;
	width:100%;
	margin-bottom:15px;
	margin-top:20px;
	border-radius:5px;
}
div.contact-form input {
	color:#888;
	border:none;
	padding:8px;
	box-shadow: inset 0 5px 0 rgba(0,0,0,.1);
}
div.contact-form textarea {
	resize:vertical !important;
	height:230px;
	color:#888;
	border:none;
	padding:8px;
	box-shadow: inset 0 5px 0 rgba(0,0,0,.1);
}
.btn, button {
	margin: auto;
	display: inline-block;
}
 textarea.form-control,
 textarea.form-control:focus,
 textarea.form-control:active,

 input.form-control,
 input.form-control:focus,
 input.form-control:active {
	box-shadow: inset 0 5px 0 rgba(0,50,50,.1) !important;
}
div.contact-form span.help-block {
	float:right;
	font-size:90%;
}
.btn {
	box-shadow: inset 0 -5px 0 rgba(0,0,0,.2);
	border: none;
	padding: 5px 10px 10px;
}
div.contact-avatar img {
	height: 60px;
	width: 60px;
}
address {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
    display: block;
    font-style: normal;
    line-height: 1.42857;
    margin-bottom: 20px;
    padding: 0 25px 25px;
    position: absolute;
    z-index:10;
	color:#333;
	min-width: 300px;
}
.address-card-bigmap address {
    right: 40px;
    top:  inherit !important;
	bottom:40px;
}
.address-card-smallmap address {
    right: 45px;
    bottom: 55px;
}
.tooltip-inner  {
	background: rgba(0,0,0,0.3);
	padding: 10px 15px !important;
}
.tooltip-arrow {
	display: none;
}
.well {
	box-shadow: none;
	border: none;
	background: url('../images/shade-top.png') no-repeat center bottom;
	padding: 50px 0;
}
.margin-bottom {
	margin-bottom: 50px;
}

/* Sample Content */
div#examples-slides a.carousel-control {
	width: inherit;
	font-size: 50px;
	color: rgba(0,0,0,.5);
	text-shadow: none;
	top: 50px;
}
div#examples-slides .btn-group {
	margin-bottom: 20px; 
}
a.carousel-control {
	background-image: none !important;
	display: none;
}
div#examples-slides a.carousel-control.left {
	left: -3%;
}
div#examples-slides a.carousel-control.right {
	right: -3%;
}
.hero-feature img {
	zoom: 1;
	filter: alpha(opacity=30);
	opacity: 0.3;
}
/* Thumnails */
.thumbnail {
    border-radius: 4px;
    padding: 12px;
    border: none;
    border-radius: 2px;
}

/* panels & tables */

.panel-primary > .panel-heading {
    background-color: rgba(0,0,0,.3) !important;
    border: none !important;
}
.panel-primary {
	border: none !important; 
}
/* Tables */
.table > thead > tr > .active, .table > tbody > tr > .active, .table > tfoot > tr > .active, .table > thead > .active > td, .table > tbody > .active > td, .table > tfoot > .active > td, .table > thead > .active > th, .table > tbody > .active > th, .table > tfoot > .active > th,
.table-hover > tbody > tr > .active:hover, .table-hover > tbody > .active:hover > td, .table-hover > tbody > .active:hover > th, .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th  {
    background-color: rgba(0,0,0,.05) !important;
}
.table td, .table th {
	border-color: rgba(255,255,255,.1) !important;
}

@media (max-width: 1200px) {
	#leftcol .leftcol-inner {
		width: 205px;
	}
}

@media(max-width:992px){
	div.affix {
		position: relative !important;
		top: inherit;
	}
	.container {
	}
	header h1 {
		text-align: center;
	}
	header h1 a {
		line-height: 40px;
		font-size: 40px;
		margin-top: 20px;
	}
	a.brand.logo {
		background-size: 80px 80px !important;
		height: 100px;
		width: 100px;
	}
	.sheet {
	}

	#mobile-logo {
		display: block;
		text-align: center;
		position: relative;
		top: -50px;
	}
	#leftcol a.brand {
		display: none;
	}
	.leftcol-inner, .rightcol-inner{
		padding-top: 110px;
	}
	#leftcol .leftcol-inner {
		margin: 0;
		padding: 0;
		position: relative; 
		width: 100%;
	}
	#leftcol {
		background: #333;
		position: fixed;
		display: block;
		height: initial;
		z-index: 100;
		width: 100%;
		top: 0;
		right: 0;
		left: 0;
	}
	#leftcol ul.nav {
		margin: auto !important;
		border: none;
	    padding: 10px 0;
}

	#leftcol ul.nav  li {
		display: inline-block;
		padding: 2px 2px !important;		
	}
	#leftcol ul.nav  li a {
		color: #eee;
		padding: 10px 5px !important;
	}
	#leftcol ul.nav  li.active a {
		color: #fff !important;
		font-weight: normal;
		background: rgba(255,255,255,0.05);
	}
	#leftcol ul.nav  li a:hover {
		background: rgba(255,255,255,0.05) !important;
		color: #fff;
		font-weight: normal !important;
	}
	#leftcol .navbar-collapse {
	    border-top: 1px solid rgba(0, 0, 0, 0);
	    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;
	    max-height: 340px;
	    overflow-x: visible;
	}
	#leftcol div.navbar-collapse.collapse {
	    display: none !important;
	}
	#leftcol .navbar-toggle {
	    background-color: rgba(255, 255, 255, .8);
	    background-image: none;
	    border: 1px solid rgba(0, 0, 0, 0);
	    border-radius: 4px;
	    margin-bottom: 8px;
	    margin-right: 15px;
	    margin-top: 8px;
	    padding: 9px 10px;
	    position: fixed;
	    right: 0px;
	    top: 5px;
	    color: #000;
	    z-index: 99;
	    display: block;
	}
}
@media(max-width: 480px){
	.title-icon {
	    display: block;
	    position: relative;
	    top: 10px;
	    height: 50px;
	    width: 100%;
	    margin: 0;
	    text-align: center;
	    right: inherit;
	}
	#append-target .title-icon {
		top: 11px;
	} 
	.page-header h2 {
		text-align: center;
	}
	#leftcol ul.nav {
		margin: 40px auto 0 auto !important;
	}
	#leftcol ul.nav li a  {
		padding: 5px !important;
	}
	#leftcol ul.nav li  {
		margin: 0;
		text-align: center;
	}
}