body {
	background: #6D87AA url("../images/patterns/pattern_13.png") repeat scroll ;
}
h1 a {
	color: #AA906D;
}
.title-icon > i {
	color: #ADBBCF !important;
}
header a.brand {
	color: #6D87AA;
}
i.fa.text-info {
    color: #C15D54;
}
a.brand.logo {
	background: url('/budget/images/png140x140/wave-50.png') no-repeat center center #AA9982;
}